<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{postItem.postName}}</h1>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span>Отправлено: {{postItem.postTime.toString() | date: 'dd-MM-yyyy'}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-responsive" src="{{postItem.imgSrc}}" alt="" style="height: 300px; width:900px;">

        <hr>

        <!-- Post Content -->
        <p class="lead">{{postItem.postText}}
        <hr>


        <app-comment></app-comment>

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Другие статьи</h4>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li *ngFor="#post of postList"><a href="/post/{{post.postId}}">{{post.postName}}</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>


</div>
<!-- /.row -->


