<div class="row">

    <div class="col-lg-12">

        <div class="well" *ngFor="#post of postList">
            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{post.postName}}</h1>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Отправлено: {{post.postTime | date: 'dd-MM-yyyy'}}</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="{{post.imgSrc}}" alt="" style="width: 1170px; height: 300px;">

            <hr>

            <!-- Post Content -->
            <p class="lead">{{post.postText}}
            <hr>
            <div class="btn-block pull-right" style="display: block">
                <button (click)="gotoPost(post.postId)"  class="btn btn-default">Читать дальше</button>
            </div>
            <br />
        </div>



    </div>


</div>
<!-- /.row -->


