<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Angular2</title>
  <base href="/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />


  <script src="/lib/systemjs/dist/system.src.js"></script>



  <script src="/lib/es6-shim/es6-shim.min.js"></script>
  <script src="/lib/zone.js/dist/zone.js"></script>
  <script src="/lib/reflect-metadata/Reflect.js"></script>
  <script src="/lib/rxjs/bundles/Rx.js"></script>


  <script src="/systemjs.config.js"></script>



</head>
<body>

  <!-- Page Content -->
  <div class="container">
    <my-app>Loading...</my-app>
  </div>



  <script>

    System.import('app').catch(function(err){ console.error(err);  });
  </script>
</body>
</html>


