<!-- Posted Comments -->

<div class="well">
    <h4>{{commentList.length}} Комментариев</h4>
    <hr>
    <!-- Comment -->
    <div class="media" *ngFor="#comment of commentList">
        <a class="pull-left" href="#">
            <img class="media-object" src="{{comment.commentOwner.userImg}}" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{comment.commentOwner.username}}
                <small>{{comment.commentDate.toString() | date:"dd-MM-yyyy"}}</small>
            </h4>
            {{comment.commentText}}
            <div class="button-group">
                <a (click)="scrollBottom(comment)" style="cursor: pointer">Ответить</a>
                <div class="pull-right glyphicon glyphicon-heart" (click)="addLikes(comment)">{{comment.likes}}</div>
            </div>

            <app-commentNested [nestedComment]="comment.commentId" [update]="update" (done)="done($event)"></app-commentNested>
        </div>
    </div>
    <hr>
    <!-- Comments Form -->
    <div class="well" id="messageForm">
        <h4>Оставить комментарий <span class="tag label label-info" *ngIf="commentDestination.username.length > 0">
          <span>{{commentDestination.username}}</span>
          <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white" (click)="removeDestination()"></i></a>
        </span> :</h4>

        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="3" [(ngModel)]="messageText"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" (click)="addComment();">Отправить</button>
        </form>
    </div>
</div>