<!-- Nested Comment -->
<div class="media" *ngFor="#comm of nestedComments">
    <a class="pull-left" href="#">
        <img class="media-object" src="{{comm.commentOwner.userImg}}" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{comm.commentOwner.username}}
            <small>{{comm.commentDate.toString() | date:"dd-MM-yyyy"}}</small>
        </h4>
        {{comm.commentText}}
    </div>
</div>
<!-- End Nested Comment -->